body{
    background-image: url(natural4.png);
    background-size: cover;
    background-attachment: fixed;
}


.amarillo{
    background-color: yellow;
}

.presentacion{
    background-color: bisque;
}

.rosado{
    background-color: rgb(230, 36, 188);
}

.purpura{
    background-color: rgb(161, 71, 245);
}

.celeste{
    background-color: aqua;
}